body {
    margin-top: 60px;
    background-color: #a3d5d3;
}

#quote {
    padding: 20px 0 20px 0;
}

#quote-block {
    margin: 100px auto auto auto;
    width: 40%;
    padding: 20px;
    background: white;
}

.twitter-share-button {
    float: right;
}
